@use 'variaveis';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;}

.header{
    display: flex;
    top: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 25px;
   
   
    
    
    @media screen and (max-width: 768px) {
       
       .header__container{      
       display: flow-root;
       justify-items: end;
        }

        .header__logo{
            max-width: 80%;
          }
        
          .header__links{
        
            display: none;
          }
        
      }
      .menu{
        
        display: flex;
      }
  
    
    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media screen and (max-width: 768px) {
        display: flex;
        font-size: 10px;
          }
        
    }

    &__logo{
        max-width: 200px;
        width: 100%;
        margin-right: 50px;
    }
    &__links{
          display: flex;
          list-style: none;
          justify-items: center;
          
          
          
        &__item{
           margin: 5px;
           
          
            
        }
    }
}


.material-icons{
    display: none;}


@media screen and (max-width: 768px) {
    .header{
        align-items: center;
    }
    .header__logo{
        position: relative;
        align-items: center;
    }
    
  #burguer{
     background-color: #ffff;
     color: black;
     display: block;
     text-align: left;
     padding: 10px;
     cursor: pointer;
     max-width: 15%;
     
         
   }

   .material-icons{
    justify-items: center;
   }
#burguer:hover{
    background-color: black;
    color: #fff;
   }   
} 




.button{
    color: variaveis.$corTextoHeader;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 0px;
    margin-left: 0px;
    padding: 8px 16px;
    border-radius: 6px;
    &:hover{
        color: variaveis.$corDoButton;
    }
}

button{
    background-color: variaveis.$corDoButton;
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    text-align: left;   
    border-style: none;
    border-radius: 6px;
    display: flex;
    font-family: 'Noto Sans HK', sans-serif;
    color: #fff;
    font-weight: 700;
    padding: 12px 24px;
    cursor: pointer;
    align-items: center;
    &:hover{
        background-color: rgb(variaveis.$corDoButton,0.8) ;
    }
   
}
.menu{
    display: flex;

    &__button{
        margin: 10px;
    }
}