
.hero{
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../styles/images/hero.jpg);
    background-size: cover;
    

    &__content {
        width: 100%;
        max-width: 1200px;       
        margin-left: 200px;
        margin-top: 400px;

    }
}