
.hero{
    padding: 5vw;
    background-size: cover;
    min-height: 115vh;
    background-image: url("../images/hero.jpeg");
    
    
    
    

    &__content {
        width: 100%;
        max-width: 100%;       
        justify-content: space-around;
        position: relative;
        margin-top: 750px;

        
        &__text{
           justify-content: flex-end;
           
        }

    }
}
.menu{
    display: flex;
}


@media screen and (max-width: 768px) {
    
    .sinapse{
      margin: 10px;
     width: 100%;
    }
    .hero{
       max-height: 80%; 
    }
    
   
    
   }