@use 'variaveis';
@use 'hero';
@use 'sinapse';
@use 'producao';
@use 'rodape';
@use 'header';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
   

    @media screen and (max-width: 768px){
        max-width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 100%;
       
}
}

body {
    background-color: #ffff;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Noto Sans HK', sans-serif;
    
    
    
    
}
 
h1 {
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: "Noto Sans HK",sans-serif;
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;

    @media (max-width: 767.98px)
{
    font-size: 30+px;
}
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.home {
    margin-top: 20px;
    margin-bottom: 80px;
    color: #777;
    font-size: 11px;
    line-height: 16px;

    @media (max-width: 400px)
 {
    font-size: 34px;
    max-width: 100%;
}
   
}

.corpo{
    max-width: 100%;
    margin-left: 120px;
    margin-top: 0px;
}

.cinema{
    position: relative;
    z-index: 3;
    display: inline-block;
    height: 24px;
    padding: 3px 12px;
    border-radius: 12px;
    background-color: variaveis.$corButtonCinema;
    font-family: 'Noto Sans HK', sans-serif;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    margin-right: 3px;
    margin-bottom: 3px;

}
.post-info{
    display: flex;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
    
}
.text-medio {
    font-size: 1.15rem;
    margin-bottom: .75rem;
    line-height: 1.5;
}