@use 'variaveis';
.producao{
    padding: 5.6vw; 
display: grid;   
align-items: baseline;   
margin-top:0px; 
margin-bottom: 8px;    
font-size: 15px;   
grid-template-columns:  2fr 1fr;    
width: 100%;                 
margin-left: 120px;

    &__info{
       
       
         &__destaques{
            margin-bottom: 0px;
           
            max-width: 100%;
            
             img{
                max-width: 160px;
                border-radius: 5px;
}
           }
        }
    }

h2{
       margin-bottom: 20px;
     } 

     a{
        color: variaveis.$corDoLink;
        text-decoration: none;
     }

