.rodape {
    align-items: center;
    &__container{
        max-width: 100%;
        width: 100%;
        margin-left: 20px;
        text-align: center;
    }
}
.text-rodape{
    margin: 0;
}

@media screen and (max-width: 768px) {
    .rodape{
      display: block;
     width: 100%;
     align-items: center;
     margin-bottom: 20px;
     }
     img{
        max-width: 30%;
        
     }
   }